@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-danger-max: var(--color-danger-max);
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --shadow-primary: var(--shadow-primary);

  --color-app: var(--color-app);
  --color-page: var(--color-page);

  --color-surface: var(--color-surface);
  --color-surface-soft: var(--color-surface-soft);
  --color-surface-muted: var(--color-surface-muted);
  --color-surface-hover: var(--color-surface-hover);

  --color-success: var(--color-success);

  --color-danger: var(--color-danger);
  --color-danger-soft: var(--color-danger-soft);

  --color-accent-slider: var(--color-accent-slider);

  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-soft: var(--color-text-soft);
  --color-text-disabled: var(--color-text-disabled);
  --color-text-inverse: var(--color-text-inverse);

  --color-border-default: var(--border);
  --color-border-light: var(--color-border-light);
  --color-border-strong: var(--color-border-strong);
  --color-border-brand: var(--color-border-brand);

  --color-brand: var(--color-brand);
  --color-brand-muted: var(--color-brand-muted);

  --color-overlay: var(--color-overlay);
  --color-success-soft: var(--color-success-soft);

}

:root {
  --color-brand-glow: rgb(187 247 208 / 0.45);
  --color-success-soft: #edf7e8;
  /* Brand */
  --color-brand: var(--brand);
  --color-brand-muted: var(--brand-muted);

  /* App */
  --color-app: var(--app);
  --color-page: var(--page);

  /* Surfaces */
  --color-surface: var(--card);
  --color-surface-soft: var(--surface-soft);
  --color-surface-muted: #f8fafc;
  --color-surface-hover: #f3f4f6;

  /* Text */
  --color-text: var(--foreground);
  --color-text-muted: #4b5563;
  --color-text-soft: #6b7280;
  --color-text-disabled: #9ca3af;
  --color-text-inverse: #ffffff;

  /* Borders */

  --color-border-light: #f3f4f6;
  --color-border-strong: #9ca3af;
  --color-border-brand: var(--brand-muted);

  /* Success / Error */
  --color-success: var(--brand-muted);
  --color-danger: #dc2626;
  --color-danger-soft: #ffbdbd;

  /* Overlay */
  --color-overlay: rgb(0 0 0 / 0.4);

  /* Misc */
  --color-ring: var(--brand-muted);
  --color-accent-slider: var(--brand);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --brand: #2d4b41;
  --brand-muted: #6b8e23;
  --surface-soft: #dce7e0;
  --app: #f8f9f7; 
  --page: #fdfdfc;
  --shadow-primary: 0 3px 2px 0.5px rgb(0, 0, 0, 0.1);
  --color-ring-subtle: #0000000d;
  --color-danger-max:oklch(50.5% 0.213 27.518);
}


.dark {
    --color-brand-glow: rgb(34 197 94 / 0.18);
  --color-danger: #ef4444;
  --color-danger-soft: #3b101063;
  --color-danger-max:oklch(39.6% 0.141 25.723);
  --color-success: var(--brand-muted);
  --color-accent-slider: var(--brand);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: hwb(225 8% 10%);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --color-app: #171717;
  --color-page: #171919;

  --color-surface: #151515;
  --color-surface-soft: #252828;
  --color-surface-muted: #202324;
  --color-surface-hover: #2c3131;

  --color-text: #fafafa;
  --color-text-muted: #d4d4d4;
  --color-text-soft: #a3a3a3;
  --color-text-disabled: #737373;

  --color-text-inverse: #111111;

  --color-border-default: #404040;
  --color-border-light: #2a2a2a;
  --color-border-strong: #5a5a5a;

  --color-brand: var(--brand-muted);
  --color-brand-muted: var(--brand);
  --color-overlay: rgb(0 0 0 / 0.7);
  --color-success-soft: #1d2a1a;
  --color-ring-subtle: rgb(255 255 255 / .08);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-app text-text;
  }
  html {
    @apply font-sans;
  }
}
